body{
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    text-align: left;
    background: whitesmoke url(../img/background.png) no-repeat 50%;
    background-size: contain;
}
#show-todo{
    display: inline-block;
    width: 300px;
    height: auto;
    background-color: rgba(128, 128, 128, 0.2);
    margin-top: 200px;
    margin-left: 400px;
    vertical-align: top;
    padding-bottom: 27px;
}

#add-todo{
    width: 200px;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.2);
    margin-top: 200px;
    margin-left: 100px;
}
div{
    display: list-item;
    list-style: none;
    padding-top: 20px;
    padding-left: 10px;
}
form{
    display: inline-block;
}



